html,
body {
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background: url(./Fire-background.png) repeat-x bottom;
  background-position-y: 150%;
  display: flex;
  flex-direction: column;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    background: url(./Fire-background@2x.png) repeat-x bottom;
    background-position-y: 110%;
  }
}

main {
  text-align: center;
  flex: 1 0 auto;
}

.header__text {
  padding: 2rem 0;
}

footer {
  margin-top: 2rem;

  flex-shrink: 0;
}

.header-background {
  background: url("./Megan-Thee-Header.png") no-repeat center;
  background-size: contain;
  height: 250px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header-background {
    background: url("./Megan-Thee-Header@2x.png") no-repeat center;
    background-size: contain;
    height: 250px;
  }
}

.megan-thee {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .megan-thee {
    font-size: 2rem;
  }
}

.btn-generate {
  background: #d81b1a;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem 1.75rem;
  border-radius: 15px;
  outline: none;
  box-shadow: #dadada 0px 0px 5px;
}

.wordgen {
  border-bottom: 3px solid black;
}

.credits {
  text-align: left;
  bottom: 0;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.credits a {
  color: #d81b1a;
  text-decoration: none;
}

.credits p {
  margin: 0 0 10px;
}
